<h1>Blog Amazon</h1>

<!-- #Utilizando los scopes -->
<% Post.published.each do |post| %>
	<!-- mostar posts -->
<% end %> 

<!-- posts mas populares -->

<% Post.popular.each do |post| %>
	<!-- mostar posts -->
<% end %>