<h1>Blog New Form</h1>

<form action="#" method="post" accept-charset="utf-8">
	<label for="i1"></label>
	<input type="text" name="i1"><br>
	<label for="i2"></label>
	<input type="text" name="i2"><br>
	<input type="submit" value="Enviar">
</form>
